*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-image:linear-gradient(to bottom, #009688 0px, #009688,15vh, #D9DBD4 15vh, #D9DBD4 100%);
}

.colgiallo{
    background-color: yellow;
    
}


.colgialloverde{
    background-color: rgb(150, 150, 50);
    
}



.colrosso{
    background-color: rgb(255, 60, 0);
    height: 100px;
}

.colblu{
    background-color: rgb(89, 61, 165);
    height: 100px;
    
}

.colverde{
    background-color: rgb(37, 158, 33);
    height: 100px;
}


.colazzurra{
    background-color: rgb(73, 154, 201);
    height: 100px;
}


.container_chat{
    height: 800px;
    background-color: beige;
}


/* modifica immagine avatar */
.avatar{
    width: 20%;
    border-radius: 30px;
    float: left;
}

.avatar_dx{
    width: 13%;
    border-radius: 30px;
    float: left;
}

.container_header{
    background-color: #EAEAEA;
}

.back_blu{
    background-color: #8EDAFC;
}

/* row_bell */


.fa-bell-slash{
    
    margin: 10px 0px;
    border-radius: 50%;
    background-color: white;
    padding: 10px 8px;
    

}


/* barra di ricerca */

.row_search{
    background-color: #F6F6F6;
    
}


.search_bar,.fa-search{
    width: 100%;
    margin: 10px 0;
   

}


/* avatar chat */

.avatar_chat{
    border-radius: 30px;
    float: left;
    width: 100%;
}

.row_avatar{
    padding-top: 10px ;
    background-color: white;
}

.orario, .subtitle{
    font-size: 10px;
    color: gray;
}

.row_final{
    padding-bottom: 50px;
}