*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-image:linear-gradient(to bottom, #009688 0px, #009688,15vh, #D9DBD4 15vh, #D9DBD4 100%);
}



/* modifica immagine avatar */
.avatar{
    height: 40px;
    border-radius: 30px;
   
}



.container_header{
    background-color: #EAEAEA;
    
}

.back_blu{
    background-color: #8EDAFC;
}

/* row_bell */


.fa-bell-slash{
    
    margin: 10px 0px;
    border-radius: 50%;
    background-color: white;
    padding: 10px 8px;
    

}


/* barra di ricerca */

.row_search{
    background-color: #F6F6F6;
    
}


.search_bar,.search_item{
    width: 100%;
    margin: 10px 0;
   

}


/* avatar chat */

.avatar_chat{
    border-radius: 30px;
    width: 100%;
}

.row_avatar{
    padding-top: 10px ;
    background-color: white;
    cursor: pointer;
}
.row_avatar:hover{
    background-color: rgb(234, 227, 227);
}

.orario, .subtitle{
    font-size: 10px;
    color: gray;
}

.row_final{
    background-color: white;
    height: 50px;
}



/* PARTE DX */


.border_left{
    border-left: 1px solid rgb(184, 177, 177);
}



/* chat */


.container_chat{
    height: 565px;
    background-image: url('../img/mine.jpg');
}


.message{
    background-color: #D5F9BA;
    border-radius: 10px;
    

}


.message_white{
    background-color: white;
    border-radius: 10px;
}

.orario_chat{
    font-size: 8px;
    color: gray;
    text-align: end;
}

/* row write a message */

.row_writetext{
    background-color: #F3EEEA;
    height: 80px;
}

.message_bar{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
}

